#name {
  padding-right: 20px;
}

.form-group {
  margin-top: 40px;
}

#target {
  width: 40%;
}

.btn {
  margin-top: 40px;
}

.panel {
  display: none;
  margin-top: 50px;
}

.first-name {
  color: rgb(42, 62, 104);
  font-size: larger;
}

.last-name {
  color: rgb(42, 62, 104);
  font-size: larger;
}



