.container {
  margin-bottom: 150px;
  margin-left: 150px;
  font-family: sans-serif;
  font-size: 120%;
}

.jumbotron {
  margin-top: 50px;
  padding: 30px;
  font-family: sans-serif;
  text-align: center;
}

#title {
  font-weight: bold;
}

#name {
  padding-right: 20px;
}

.form-group {
  margin-top: 40px;
}

#target {
  width: 40%;
}

.btn {
  margin-top: 40px;
}

.panel {
  display: none;
  margin-top: 50px;
}

.firstName {
  color: rgb(42, 62, 104);
  font-size: larger;
}

.lastName {
  color: rgb(42, 62, 104);
  font-size: larger;
}



